.CFUserTextEncoding
.DS_Store
.cache/
.claude/plugins/marketplaces/
.cursor/
.config/raycast/
.local/
.npm/
.ssh/
.tmux/plugins/tokyo-night-tmux/
.viminfo
.zprofile
.zsh_history
.zsh_sessions/
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
thing/
